body {
    background-color: #FFF8E1;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}
a {
    color: #689F63;
}
code, kbd, pre {
    font-family: "PT Mono","Courier New",Courier,monospace;
}
#main {
    font-size: 1.6rem;
}
.main section article table,
.main section article table th,
.main section article table td
{
    font-family: 'Open Sans', sans-serif;
}
#resizer {
    background-color: #689F63;
}
.title h1 {
    font-family: 'Fugaz One', sans-serif;
    color: #fff;
}
.lnb, footer {
    background-color: #333;
}

.lnb h3 {
    font-family: 'Fugaz One', sans-serif;
    color: #689F63;
}
.lnb .member-type {
    font-size: 1.6rem;
}
.btn-link {
    color: #689F63;
}
.lnb .lnb-api a, .lnb .lnb-examples a {
    color: #fff;
}

footer {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}
footer .logo {
    max-height: 32px;
    max-width: 32px;
}

/* content styles */
.main section article h3.subsection-title {
    font-family: 'Fugaz One', sans-serif;
    color: #689F63;
}
.main section article dl h4,
.main section article dl h4 .signature,
.main section article dl h4 .type-signature
{
    font-size: 1.6rem;
}
.main section article dl h4 .type-signature,
.main section article dl h4 .type-signature a
{
    font-size: 1.6rem;
    color: #689F63;
}
.main section article .container-source {
    font-size: 1.6rem;
}
.main section article .container-source a {
    color: #212121;
}
.main section article table td.name,
.main section article table td.type,
.main section article table td.attributes,
.main section article table td.default
{
    max-width: 200px;
    min-width: 180px;
}
